.container-fluid
  = render 'pills'
  %h1 Water for Children
  .fund-raising
    %h2 Fund Raising
    .progress
      .progress-bar(role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="2000")
    %p Our target is £2,000

  %p The Gladi-Gladi Trust is also launching an appeal to bring fresh water to children under 10 on Gladi Island. These children are exposed to Typhoid and, at times, Cholera, in addition to Malaria and Dysentry. The only water on the island comes from wells that are badly polluted with salt and human effluent.

  %p Our first demonstration project will be installation of tanks to harvest pure rain water from the roof of Osu Primary School.

  .alert.alert-warning
    This project has been delayed by other commitments and will be launched as soon as sufficient funds are available.
