$logo-size: 35px;
.navbar-brand {
  font-size: 1rem;
  img {
    height: $logo-size;
    margin: -3px 1rem -3px 0;
    transition: 0.3s all;
    width: $logo-size * 16/15;
  }
  span {
    color: white;
    vertical-align: text-top;
  }
  &:hover {
    img {
      transform: rotate(-90deg);
    }
  }
}

header {
  background-position: bottom;
  @include clearfix;
}

.navbar-light {

  .active {
    background: $pale-purple;
    border-radius: 5px;
  }
}
