.alert.seo {
  position: relative;
  text-align: left;
  h3 {
    left: -10px;
    position: absolute;
    top: -10px;
  }
  dt {
    display: inline;
    font-weight: 100;
  }
  &.hide {
    display: none;
  }
}

.seo-label {
  background: rgba(0, 0, 0, .3);
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  padding: 2px 5px;
}

a.seo-label {
  &:hover {
    background: black;
    color: white;
    text-decoration: none;
  }
}
