// See https://github.com/twbs/bootstrap-rubygem/blob/master/assets/stylesheets/bootstrap/_variables.scss

$font-family-sans-serif: Lato, "Helvetica Neue", Arial, sans-serif;

$purple: #7A00FD;
$pale-purple: #D39AFF;

$primary: $purple;

$light: $purple;
$navbar-light-color: white;
