.map {
  height: 400px;
  margin: 1rem;
}

.leader {
  font-weight: bold;
  font-size: 1.4rem;
}

.key-points {
  margin: 2rem 0;
  h3 {
    font-size: 1.2rem;
    margin-left: 120px;
  }
  img {
    float: left;
    margin-bottom: 1rem;
    width: 100px;
  }
  p {
    margin-left: 120px;
    text-align: left;
  }
}

.key-point {
  padding: 1rem 0;
}

section.how-you-are-helping {
  background: #eee;
  padding: 2rem;
}

section.intro {
  margin-bottom: 3rem;
  .leader + p {
    font-size: 1.2rem;
  }
}

section.photos {
  background: #eee;
  img {
    border-radius: 10px;
    margin: 1rem 0;
  }
}

section.blue {
  background-color: $purple;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section.grey {
  background-color: #eee;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section.gladi-gladi {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;

  &:before {
    background-image: image-url('gladi-gladi-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    content: " ";
    height: 100px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    top: -44px;
    width: 200px;
    z-index: 1;
  }

  p {
    position: relative;
    z-index: 2;
  }
}

section.beach {
  background-image: image-url('beach.png');
  background-size: cover;
  background-position: bottom center;
  position: fixed;
  height: 180px;
  width: 100%;
}
